@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
    cursor: none;
}

#circle {
    --circle-size: 20px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid #c3a995;
    background-color: #c3a995;
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }


/* body:hover > mouseTrailer{
    opacity: 1;
} */

/* #firstRow{
    animation: scroll 15s linear infinite;
}

#firstRow:hover{
    animation-play-state: paused;
}

@keyframes scroll{

    0%{
        transform: translateX(0);
    }

    100%{
        transform: translateX(-100%);
    }

}

#secondRow{
    animation: scrollTwo 10s linear infinite;
}

#secondRow:hover{
    animation-play-state: paused;
}

@keyframes scrollTwo{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
    }
} */
